/* NotebookLM Importer - YouTube Styles */

.ytlm-create-popup{display:inline-block;outline:none;width:205px;z-index:2147483648}
.ytlm-create-popup-container{display:none;left:250px;outline:none;top:305.438px;z-index:2147483639}
.ytlm-create-popup-list{background:var(--paper-listbox-background-color,#fff);border-radius:12px;box-shadow:0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12),0 3px 1px -2px rgba(0,0,0,.2);color:var(--paper-listbox-color,var(--primary-text-color));padding:0}
.ytlm-choice{align-items:center;cursor:pointer;display:flex;min-height:var(--paper-item-min-height,40px);padding:0 16px;position:relative}
.ytlm-choice:not(:last-child):not(.ytlm-add-notebook-new-item){border-bottom:1px solid var(--yt-spec-10-percent-layer,var(--yt-ysm-background))}
.ytlm-choice-display-none{display:none}
.ytlm-choice:not([data-type=back]):hover,.ytlm-choice[data-type=back] #secondary-icon:hover{background-color:var(--yt-spec-badge-chip-background)}
.ytlm-choice[data-type=back] #secondary-icon:hover{border-radius:12px}
.ytlm-choice[data-type=back],.ytlm-create-popup-list>.ytlm-choice:first-child{border-top-left-radius:12px;border-top-right-radius:12px}
.ytlm-choice:last-child,.ytlm-choice[data-type=choose-notebook],.ytlm-notebook-list .ytlm-choice:last-child{border-bottom-left-radius:12px;border-bottom-right-radius:12px}
.ytlm-choice-text{color:var(--yt-primary-text-color);font-size:1.3rem;font-weight:400;line-height:1.8rem;overflow:hidden;text-overflow:ellipsis;text-transform:none;white-space:nowrap}
.ytlm-choice-icon{padding-right:8px}
.ytlm-choice[data-type=back]{border-bottom:0}
.ytlm-choice[data-type=back] .ytlm-choice-text{font-weight:500}
.ytlm-notebook-list{background-color:var(--yt-guide-background);border-radius:0;border-bottom-left-radius:12px;border-bottom-right-radius:12px;box-shadow:0 4px 32px 0 var(--yt-spec-overlay-background-light);box-sizing:border-box;color:var(--yt-spec-text-primary);list-style:none;max-height:328px;overflow-y:auto!important;padding:0 2px;width:100%}
